@{
    Layout = null;
}

<h2>TEST FORM</h2>

<form method="post" action="/Test/Ask">
    <input name="CategoryId" value="1" />

    <br /><br />

    <input name="Title" value="Test Başlık" />

    <br /><br />

    <textarea name="Content">Test İçerik</textarea>

    <br /><br />

    <button type="submit">TEST GÖNDER</button>
</form>
