@{
    ViewData["Title"] = "Gizlilik Politikası";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <p>Gizlilik politikamız sayfası.</p>
</div>